/* Home.css */

.home-page {
    text-align: center;
    padding: 50px 20px;
    color: #333;
    font-family: Arial, sans-serif;
   
  }
  
  .home-page h1 {
    font-size: 2.5rem;
    color: #071739;
    margin-bottom: 20px;
  }
  
  .home-page p {
    font-size: 1.125rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px;
    color: #555;
  }
  
  .home-page button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #071739;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-page button:hover {
    background-color: #005bb5;
  }
  